body {
  margin: 0;
}
/* ALQUILERES STYLES */
.alquileres-body,
.repuestos-body {
  color: grey;
  width: 70%;
  margin: auto;
  padding: 0;
  font-size: 20px;
}

h1 {
  border-bottom: 5px solid grey;
  padding-bottom: 35px;
}

.alquiler-list-item {
  font-size: 25px;
  font-weight: bold;
  color: grey;
}

.alquileres-container {
  display: flex;
}

.Alq-Img {
  margin: 20px;
  width: 400px;
  height: 400px;
}

/* REPUESTOS STYLES */

.repuestos-ul {
  list-style: none;
}

/* SERVICIOS STYLES */

.servicios-body {
  font-size: 20px;
  background: grey;
  padding: 10px 0 10px 0;
}

.servicios-body-container {
  color: white;
  background: grey;
  margin: auto;
  width: 70%;
}

.servicios-title {
  font-size: 40px;
  color: grey;
  border-bottom: 0px;
  width: 70%;
  margin: auto;
  margin-top: 25px;
}

/* CONTACTO STYLE */

.location {
  padding: 0;
}

.contacto-body {
  display: flex;
  margin: auto;
  width: 70%;
  color: grey;
}

.p-text {
  margin: 0;
}

.contact-us-form {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.input-form {
  margin: 2px;
  width: 300px;
  border-radius: 5px;
  background: rgba(42, 42, 42, 1);
  box-shadow: 2px 2px 2px lightgray;
  color: white;
  font-weight: bold;
}
::placeholder {
  color: grey;
  font-weight: bold;
}

/* EQUIPOS STYLES */

.body-equipos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  margin: auto;
}

.equipo-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

.title-item {
  color: darkcyan;
  font-weight: bold;
  width: 180px;
  text-align: center;
}

.equipo-item > img {
  width: 250px;
  height: 150px;
}

/* HOME STYLES */

.home-body {
  width: 70%;
  margin: auto;
}

.list-title {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.list-title-each {
  font-weight: bold;
}

.componente {
  padding: 5px;
  margin: 0;
}
.componente:hover {
  background: lightgrey;
}
