body {
  color: grey;
  width: 80%;
  margin: auto;
}

h1 {
  border-bottom: 5px solid grey;
  padding-bottom: 35px;
}

.alquiler-list-item {
  font-size: 25px;
  font-weight: bold;
  color: grey;
}

.alquileres-container {
  display: flex;
}
